<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_home.css') }}">
</head>
<body>
    <h1>Chào mừng Waiter</h1>
    <p>Nhận order và phục vụ khách tại đây.</p>

    <!-- Thanh điều hướng -->
    <div class="navbar">
        <a href="{{ url_for('profile', user_id=user['user_id']) }}">Xem Thông tin</a>
        <a href="#">Tạo đơn</a>
        <a href="#">Thanh toán cho khách hàng</a>
        <a href="{{ url_for('logout') }}">Đăng Xuất</a>
    </div>

    <!-- Nội dung trang chủ -->
    <div class="container">
        <h1>Chào mừng đến với Trang Chủ</h1>
        <p>Chọn một chức năng từ thanh menu.</p>
    </div>

</body>
</html>
